* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aliceblue;
}
section {
  background-color: white;
  padding: 0.5% 7% 0.5% 0.5%;
  width: 800px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}
.side-bar {
  background-image: url("/assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
  padding: 5% 6%;
  border-radius: 10px;
}
span {
  padding: 3% 7%;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
}
.tab-text {
  padding-left: 8%;
  font-size: 12px;
  width: 130px;
  color: white;
}
.tab-text > p{
    font-size: 8px;
    color: rgb(218, 217, 215);
}
.tabs {
  display: flex;
  flex-direction: row;
  padding-bottom: 12%;
}
form {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  
}
.display-info {
  /* align-self: center; */
  padding-top: 5%;
}
input {
  width: 100%;
  padding: 2%;
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
}
label{
    padding-top: 4%;
    padding-bottom: 1.2%;
    font-size: 13px;
}
button {
  width: 100px;
}
.header > p {
  font-size: smaller;
  margin-bottom: 5%;
}
button{
    background-color: #18163f;
    border: 1px solid rgb(69, 69, 101);
    color: white;
    padding: 2% 3%;
    width: 80px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 20%;
}
